title{
    font-size: medium;
    font-family: 'Schibsted Grotesk', sans-serif;
}

body{
    margin:0;
    border: 0;
    padding: 0;
    background-color: black;
    color: white;

}
#qsom, #dest,#cont{
    font-size: x-large;
    font-family: 'Schibsted Grotesk', sans-serif;
}

.card-img-top {    
    height:10rem;
}
 


